{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
    
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href=""></a>
                <small class="text-muted"></small>
            </div>
            <h2><a class="article-title" href="">About</a></h2>
            <p class="article-content">To know more about us, do make sure to visit our Github.
            </p>
            <br>
        </div>
    </article>
{% endblock content %}
