{% extends "layout.html" %}
{% block content %}
    
        <article class="media content-section">
          
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href=""></a>
              <small class="text-muted"></small>
            </div>
            <h2><a class="article-title" href="">Let's get started!</a></h2>
            <p class="article-content">Hello everyone! Welcome to our website, before you do anything, make sure to login
              and create an account. After that, you can start using our services! :)
            </p>
            <br>
          </div>
        </article>
    
    
{% endblock content %}
